Repository Floriano200404/SistemaVotacaoFeedback-v2, pull requests merged in 2025-07, with the labels that each got.

#9 Feature/tela recuperacao de senha view
  pom.xml
  src/main/java/br/edu/ifro/calama/votacaofeedback/Main.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/RecuperacaoDeSenhaView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/RecuperacaoDeSenhaView.java
  src/main/resources/Screenshot_2-Photoroom.png
  src/main/resources/icons/Screenshot_1-Photoroom.png
  src/main/resources/icons/Screenshot_2-Photoroom.png
  src/main/resources/icons/img-Photoroom.png
  src/main/resources/icons/ori-Photoroom.png
  src/main/resources/img-Photoroom.png
Labels: 11 front-end, 15 done

#11 Feat/validacaobd
  src/main/java/br/edu/ifro/calama/votacaofeedback/Main.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/controller/LoginController.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/UsuarioRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/ToastUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CadastroView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CadastroView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/MenuPrincipalView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/MenuPrincipalView.java
Labels: 09 correction, 10 sql, 12 back-end, 15 done

#13 Feature/tela de login
  pom.xml
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.java
  src/main/resources/icons/IF.png
  src/main/resources/icons/TEXTO IF.png
  src/main/resources/icons/textoeditado1.png
Labels: 11 front-end, 12 back-end, 14 database, 15 done

#14 Feature/perfil usuario
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/AlinhamentoSelectUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/RotatingArrowUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/PerfilView.java
Labels: 11 front-end, 15 done

#15 Revert "Feature/perfil usuario"
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/AlinhamentoSelectUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/RotatingArrowUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/PerfilView.java
Labels: 03 bug, 09 correction

#16 fix: debugando o login da develop
  pom.xml
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.form
Labels: 03 bug, 09 correction, 15 done

#18 Feat/backend fluxo aprovacao
  src/main/java/br/edu/ifro/calama/votacaofeedback/controller/VotacaoController.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/model/Grupo.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/model/OpcaoVoto.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/model/Votacao.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/GrupoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/OpcaoVotoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/VotacaoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/GrupoService.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/VotacaoService.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AprovarVotacaoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AprovarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CadastroView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/MenuPrincipalView.java
Labels: 12 back-end, 15 done

#25 Feature/tela alterar senha
  pom.xml
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AlterarSenhaView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AlterarSenhaView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/RecuperacaoDeSenhaView.java
Labels: 11 front-end, 15 done

#26 Feat/tela criar votacao
  pom.xml
  src/main/java/br/edu/ifro/calama/votacaofeedback/Main.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/controller/VotacaoController.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/model/Votacao.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/VotacaoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/PlaceHolderUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/RoundedBorderUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/RoundedVotacoesUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.java
Labels: 11 front-end, 12 back-end, 15 done

#24 Feat/implementar acoes aprovacao
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/VotacaoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/VotacaoService.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AprovarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.java
Labels: 10 sql, 12 back-end, 15 done

#27 Feat/tela card view
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.java
  src/main/resources/icons/WhatsApp Image 2025-07-10 at 00.50.52-Photoroom.png
Labels: 11 front-end, 15 done

#28 Feat/tela editar votacao
  schemaV.sql
  src/main/java/br/edu/ifro/calama/votacaofeedback/controller/VotacaoController.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/OpcaoVotoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/VotacaoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/RegradeNegocio.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/VotacaoService.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AprovarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/GerenciarVotacaoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/GerenciarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/MenuPrincipalView.java
Labels: 06 priority, 12 back-end, 15 done

#31 Feat/redefinir senha
  pom.xml
  schema.sql
  src/main/java/br/edu/ifro/calama/votacaofeedback/controller/RecuperacaoSenhaController.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/model/Usuario.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/UsuarioRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/EmailService.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/ConfigLoaderUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AlterarSenhaView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/RecuperacaoDeSenhaView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/TelaCodigoRecuperacaoView.java
  src/main/resources/config.properties
Labels: 06 priority, 10 sql, 12 back-end, 14 database, 15 done

#32 Feature/tela opcao votacao
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.java
Labels: 06 priority, 11 front-end, 12 back-end, 15 done

#34 Feat/tela resultados
  src/main/java/br/edu/ifro/calama/votacaofeedback/model/ResultadoVotacao.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/VotacaoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/VotoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/VotacaoService.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/VotoService.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/MenuPrincipalView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/MenuPrincipalView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/ResultadoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/ResultadoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/TelaDeVotoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/VotacoesArquivadasView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/VotacoesArquivadasView.java
Labels: 12 back-end, 15 done

#36 Feat/contadores menu principal
  database.sql
  src/main/java/br/edu/ifro/calama/votacaofeedback/controller/LoginController.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/model/StatusVotacao.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/repository/VotacaoRepository.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/service/VotacaoService.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AprovarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/GerenciarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/MenuPrincipalView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/TelaDeVotoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/VotacoesArquivadasView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/VotacoesArquivadasView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/VotacoesAtivasView.java
Labels: 10 sql, 12 back-end, 15 done

#38 Fix/aprovar votacao
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/VotacoesAtivasView.java
Labels: 03 bug, 09 correction, 12 back-end

#40 Fix/correcao views
  database.sql
  src/main/java/br/edu/ifro/calama/votacaofeedback/util/DatabaseUtil.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AlterarSenhaView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/AlterarSenhaView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CadastroView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CadastroView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CardView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoOpcoesView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/CriarVotacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/DetalhesVotacaoDialog.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/LoginView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/MenuPrincipalView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/RecuperacaoDeSenhaView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/RecuperacaoDeSenhaView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/ResultadoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/ResultadoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/TelaCodigoRecuperacaoView.form
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/TelaCodigoRecuperacaoView.java
  src/main/java/br/edu/ifro/calama/votacaofeedback/view/TelaDeVotoView.java
Labels: 03 bug, 06 priority, 09 correction, 10 sql, 12 back-end, 15 done
